@charset "utf-8";
/* CSS Document */

body{
	position: relative;
	margin: 0 auto;
	width: 100%;
	background-color: #E8E8E8;
	font-family: sans-serif;
}

.title{
	color: #FFCC00;
}

.column{
	valing: top;
	width: 33%;
	border: 2px;
	border-style: solid;
	cellspacing: 0;
	cellpadding: 5;
	border-collapse: collapse;
}

.ref-table{
	width: 100%;
	border: 2px;
	border-style: solid;
	cellspacing: 0;
	cellpadding: 5;
	border-collapse: collapse;
}